Resource

- <https://www.upgrad.com/blog/data-preprocessing-in-machine-learning/>

In [200]:
# Install Required Libraries

!python -m pip install -qU pip
!python -m pip install -qU numpy matplotlib pandas python-dateutil tqdm

print('Library Installation Successful')

Library Installation Successful

In [2]:
# Import Required Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

print('Numpy:       {}'.format(np.__version__))
print('Matplotlib:  {}'.format(plt.matplotlib.__version__))
print('Numpy:       {}'.format(pd.__version__))

Numpy:       1.21.2
Matplotlib:  3.4.3
Numpy:       1.3.3

# Import Datasets

In [3]:
# Import Datasets

df = pd.read_csv('latestdata.csv')

df.head()

d:\PROJECT\College Project\DOPTEC\.doptec\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8029.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8954.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,200.0,NaN,NaN
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,admin2,NaN,...,NaN,NaN,NaN,NaN,Zhengzhou City,Henan,China,10091.0,NaN,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,admin2,NaN,...,NaN,NaN,NaN,NaN,Pingxiang City,Jiangxi,China,7060.0,NaN,NaN

In [4]:
# Avialable Columns

print('The list of All Avialable Fields Name ->')
print(*df.columns, sep=', ')

The list of All Avialable Fields Name ->
ID, age, sex, city, province, country, latitude, longitude, geo_resolution, date_onset_symptoms, date_admission_hospital, date_confirmation, symptoms, lives_in_Wuhan, travel_history_dates, travel_history_location, reported_market_exposure, additional_information, chronic_disease_binary, chronic_disease, source, sequence_available, outcome, date_death_or_discharge, notes_for_discussion, location, admin3, admin2, admin1, country_new, admin_id, data_moderator_initials, travel_history_binary

## Extracting Data

city, province, country, latitude, longitude, data_onset_symptoms, date_admission_hospital, date_confirmation

In [11]:
# Extracting Dependent variables

selected_var = ['city', 'province', 'country', 'latitude', 'longitude',
                'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation']

new_df = df[selected_var]

new_df.head()

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
0,Shek Lei,Hong Kong,China,22.365019,114.133808,NaN,NaN,14.02.2020
1,Vo Euganeo,Veneto,Italy,45.297748,11.658382,NaN,NaN,21.02.2020
2,NaN,NaN,Singapore,1.353460,103.815100,NaN,NaN,14.02.2020
3,Zhengzhou City,Henan,China,34.629310,113.468000,NaN,NaN,26.01.2020
4,Pingxiang City,Jiangxi,China,27.513560,113.902900,NaN,NaN,14.02.2020

In [9]:
new_df.tail()

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
2676306,Calleria,Coronel Portillo,Peru,-8.37819,-74.53970,NaN,NaN,17.05.2020
2676307,Pueblo Libre,Lima,Peru,-12.07653,-77.06735,NaN,NaN,17.05.2020
2676308,Comas,Lima,Peru,-11.93298,-77.04085,NaN,NaN,17.05.2020
2676309,Callao,Callao,Peru,-12.00074,-77.11824,NaN,NaN,17.05.2020
2676310,Los Olivos,Lima,Peru,-11.97626,-77.07503,NaN,NaN,17.05.2020

In [14]:
col = 'city'

col_df = new_df[col]

col_df[col_df.notna()]

0                Shek Lei
1              Vo Euganeo
3          Zhengzhou City
4          Pingxiang City
5             Yichun City
                ...
2676306          Calleria
2676307      Pueblo Libre
2676308             Comas
2676309            Callao
2676310        Los Olivos
Name: city, Length: 1698630, dtype: object

In [23]:
df_2 = new_df.dropna(thresh=7)

In [24]:
df_2.head()

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
53,"Dongliao County, Liaoyuan City",Jilin,China,42.944450,125.176200,08.02.2020,NaN,14.02.2020
54,"Pixel Park, Economic Development Zone, Jinkai ...",Jilin,China,43.847947,125.412405,NaN,04.02.2020,13.02.2020
55,"Shuangliao City, Siping City",Jilin,China,43.759480,123.695600,01.02.2020,30.01.2020,13.02.2020
63,"Sunac City, Shangcheng, Changchun City",Jilin,China,43.829610,125.259240,NaN,14.02.2020,15.02.2020
365,Yokohama Port,Kanagawa Prefecture,Japan,35.450850,139.665100,14.02.2020,17.02.2020,16.02.2020

In [25]:
df_2.tail()

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
2500872,Villavicencio,Meta,Colombia,4.15000,-73.633333,16.04.2020,NaN,19.04.2020
2500873,Villavicencio,Meta,Colombia,4.15000,-73.633333,17.04.2020,NaN,19.04.2020
2500875,Villavicencio,Meta,Colombia,4.15000,-73.633333,16.04.2020,NaN,19.04.2020
2500876,Villavicencio,Meta,Colombia,4.15000,-73.633333,19.04.2020,NaN,19.04.2020
2500877,Zipaquira,Cundinamarca,Colombia,5.02576,-74.002900,18.04.2020,NaN,19.04.2020

In [130]:
len(df_2)

236613

## Remove Range

In [135]:
temp = df_2[['date_onset_symptoms', 'date_admission_hospital']].copy()

In [136]:
from dateutil import parser
import math

def func(i):
    a, b =  map(str.strip, i.split('-'))
    a = parser.parse(a)
    b = parser.parse(b)

    diff = abs(a-b)
    if diff.days > 15:
        # print('Remove range:', diff)
        return math.nan

    avg = (a if a < b else b) + diff//2
    # print(a, b, avg)
    return avg.date()

for k, z in enumerate(temp.values):
    for i, j in enumerate(z):
        if '-' in str(j) :
            temp[temp.columns[i]].iloc[k] = func(j)

In [137]:
for col in temp.columns:
    temp[col] = pd.to_datetime(temp[col])

In [138]:
temp

        date_onset_symptoms date_admission_hospital
53               2020-08-02                     NaT
54                      NaT              2020-04-02
55               2020-01-02              2020-01-30
63                      NaT              2020-02-14
365              2020-02-14              2020-02-17
...                     ...                     ...
2500872          2020-04-16                     NaT
2500873          2020-04-17                     NaT
2500875          2020-04-16                     NaT
2500876          2020-04-19                     NaT
2500877          2020-04-18                     NaT

[236613 rows x 2 columns]

from datetime import timedelta

print(len(temp))

avg_df = temp.dropna().copy()

avg_df[(avg_df.date_onset_symptoms - avg_df.date_admission_hospital) < timedelta(30)]

In [141]:
df_3 = df_2.copy()

for col in temp.columns:
    df_3[col] = temp[col]

df_3.date_confirmation = pd.to_datetime(df_3.date_confirmation)

df_3

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
53,"Dongliao County, Liaoyuan City",Jilin,China,42.944450,125.176200,2020-08-02,NaT,2020-02-14
54,"Pixel Park, Economic Development Zone, Jinkai ...",Jilin,China,43.847947,125.412405,NaT,2020-04-02,2020-02-13
55,"Shuangliao City, Siping City",Jilin,China,43.759480,123.695600,2020-01-02,2020-01-30,2020-02-13
63,"Sunac City, Shangcheng, Changchun City",Jilin,China,43.829610,125.259240,NaT,2020-02-14,2020-02-15
365,Yokohama Port,Kanagawa Prefecture,Japan,35.450850,139.665100,2020-02-14,2020-02-17,2020-02-16
...,...,...,...,...,...,...,...,...
2500872,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,NaT,2020-04-19
2500873,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-17,NaT,2020-04-19
2500875,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,NaT,2020-04-19
2500876,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-19,NaT,2020-04-19
2500877,Zipaquira,Cundinamarca,Colombia,5.025760,-74.002900,2020-04-18,NaT,2020-04-19

In [158]:
from datetime import timedelta

def func2(date_onset_symptoms: pd.Series, date_admission_hospital: pd.Series) -> pd.Series:
    return date_onset_symptoms.isna() | date_admission_hospital.isna() | (date_onset_symptoms - date_admission_hospital < timedelta(30))

df_4 = df_3[func2(df_3.date_onset_symptoms, df_3.date_admission_hospital)].copy()

In [160]:
df_4   # Either NaN or the gap is correct

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
53,"Dongliao County, Liaoyuan City",Jilin,China,42.944450,125.176200,2020-08-02,NaT,2020-02-14
54,"Pixel Park, Economic Development Zone, Jinkai ...",Jilin,China,43.847947,125.412405,NaT,2020-04-02,2020-02-13
55,"Shuangliao City, Siping City",Jilin,China,43.759480,123.695600,2020-01-02,2020-01-30,2020-02-13
63,"Sunac City, Shangcheng, Changchun City",Jilin,China,43.829610,125.259240,NaT,2020-02-14,2020-02-15
365,Yokohama Port,Kanagawa Prefecture,Japan,35.450850,139.665100,2020-02-14,2020-02-17,2020-02-16
...,...,...,...,...,...,...,...,...
2500872,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,NaT,2020-04-19
2500873,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-17,NaT,2020-04-19
2500875,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,NaT,2020-04-19
2500876,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-19,NaT,2020-04-19
2500877,Zipaquira,Cundinamarca,Colombia,5.025760,-74.002900,2020-04-18,NaT,2020-04-19

## Calculate Avg

In [180]:
from datetime import timedelta

avg_df = df_4[['date_onset_symptoms', 'date_admission_hospital']].dropna().copy()

ll = list(
    map((lambda a: a.days), list(avg_df.date_onset_symptoms - avg_df.date_admission_hospital))
)

print('Avg (days):', sum(ll) // len(ll))

Avg (days): -22

## Remove NaN

In [201]:
from datetime import timedelta
from tqdm import tqdm

df_5 = df_4.copy()
date_onset_symptoms_isna = df_5.date_onset_symptoms.isna()
date_admission_hospital_isna = df_5.date_admission_hospital.isna()

for i in tqdm(range(len(df_5))):
    if date_onset_symptoms_isna.iloc[i]:
        df_5.date_onset_symptoms.iloc[i] = df_5.date_admission_hospital.iloc[i] - timedelta(20)
    elif date_admission_hospital_isna.iloc[i]:
        df_5.date_admission_hospital.iloc[i] = df_5.date_onset_symptoms.iloc[i] + timedelta(20)

df_5

  0%|          | 0/235496 [00:00<?, ?it/s]d:\PROJECT\College Project\DOPTEC\.doptec\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 235496/235496 [05:15<00:00, 746.95it/s]

,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation
53,"Dongliao County, Liaoyuan City",Jilin,China,42.944450,125.176200,2020-08-02,2020-08-22,2020-02-14
54,"Pixel Park, Economic Development Zone, Jinkai ...",Jilin,China,43.847947,125.412405,2020-03-13,2020-04-02,2020-02-13
55,"Shuangliao City, Siping City",Jilin,China,43.759480,123.695600,2020-01-02,2020-01-30,2020-02-13
63,"Sunac City, Shangcheng, Changchun City",Jilin,China,43.829610,125.259240,2020-01-25,2020-02-14,2020-02-15
365,Yokohama Port,Kanagawa Prefecture,Japan,35.450850,139.665100,2020-02-14,2020-02-17,2020-02-16
...,...,...,...,...,...,...,...,...
2500872,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,2020-05-06,2020-04-19
2500873,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-17,2020-05-07,2020-04-19
2500875,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-16,2020-05-06,2020-04-19
2500876,Villavicencio,Meta,Colombia,4.150000,-73.633333,2020-04-19,2020-05-09,2020-04-19
2500877,Zipaquira,Cundinamarca,Colombia,5.025760,-74.002900,2020-04-18,2020-05-08,2020-04-19

In [204]:
df_5.isna().sum()

city                       1801
province                    271
country                       0
latitude                      0
longitude                     0
date_onset_symptoms           0
date_admission_hospital       0
date_confirmation            25
dtype: int64

In [206]:
df_5.to_csv('df5.csv', inde